$background:         #073642;
$bg-alternate:       #002b36;
$foreground:         #eee8d5;
$selection-standard: #268bd2;
$selection-hover:    #2aa198;
$selection-active:   #6c71c4;
$error:              #dc322f;
$success:            #859900;
$info:               #2899ef;

body {
  color: $foreground;
  background-color: $background;
}

textarea {
  border: 2px solid $background;
  color: $foreground;
  background-color: $bg-alternate;
  padding: 4px 8px;
}

button {
  background-color: $bg-alternate;

  &.btn-primary {
    background-color: $selection-standard;

    &:hover {
      background-color: $selection-hover;
    }

    &:active {
      background-color: $selection-active;
    }
  }
}

.popover {
  background-color: $background;

  &, &>*:not(.arrow) {
    color: $foreground;
    background-color: $bg-alternate;
  }

  &>.arrow {
    display: none;
  }

  &>h3 {
    &.info {
      background-color: $info;
      border-color: $info;
    }
    
    &.error {
      background-color: $error;
      border-color: $error;
    }

    &.success {
      background-color: $success;
      border-color: $success;
    }

    &::before {
      border: none !important;
    }
  }
}

.list-group-item {
  background-color: $bg-alternate;

  &.active {
    background-color: $selection-active;
    border-color: $selection-active;
  }

  &:not(.active) {
    transition: background-color 0.4s;

    &:hover {
      cursor: pointer;
      background-color: $selection-hover;
      transition: background-color 0.4s;
    }
  }
}

#features>div:not(.selected) {
  display: none;
}

#version {
  font-size: 8pt;
}
