header {
  transition-duration : 1s;
}

.TE-sticky-header {
  position: fixed;
  top: 0px;
  width: 100vw;
  padding: 0.5rem !important;
  padding-bottom: 10px !important;
  z-index: 1000;

  .TE-topic-title {
    margin-bottom: 0px;
    padding-left: 10px;
    max-width: 75%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .TE-user-info {
    display: none !important;
  }
}
