.user-label {
  display: inline-block;
  padding: 3px;
  color: white;
  border-radius: 2px;
  margin: 0px 3px;
}

.bg-red {
  background-color: red;
}

.bg-orangered {
  background-color: orangered;
}

.bg-orange {
  background-color: orange;
}

.bg-yellow {
  background-color: yellow;
}

.bg-dodgerblue {
  background-color: dodgerblue;
}

.bg-forestgreen {
  background-color: forestgreen;
}

.bg-slategray {
  background-color: slategray;
}
